@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}

header{
    font-family: "Lato", sans-serif;
}

nav{
    display: flex;
    padding: 10px 0;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 120px;
    padding: 0 40px;
}

nav ul{
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
}

nav ul li{
    list-style: none;
    padding: 0 23px;
}

.lol{
    padding: 0 0 0 67vw;
}

nav ul li a{
    display: flex;
    color: white;
    text-decoration: none;
}

.line{
    width: 95vw;
    border: 2px solid red;
    margin: auto;
}

.about h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
    letter-spacing: 5px;
    color: rgb(252, 6, 55);
    width: 85vw;
}
.about h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 6px;
    text-align: center;
    width: 85vw;
}

.about p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    /* border: 2px solid red; */
    width: 50vw;
    height: 40vh;
    text-align: center;
    letter-spacing: 4px;
    line-height: 2;
}

.about h1, .about h3, .about p{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    margin: auto;
}
